<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>Hlavní stránka</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> <!--Začátek Body-->
  <div class="container">
    <h1>Vítej ve hře!</h1>
    <p>Toto je hlavní stránka k projektu o databázi a hře.</p>

    {% if session.user %}
      <p>Přihlášený uživatel: <b>{{ session.user }}</b></p>
      <a href="{{ url_for('leaderboard') }}">Žebříček</a> |
      <a href="{{ url_for('logout') }}">Odhlásit</a>
    {% else %}
      <a href="{{ url_for('login') }}">Přihlásit</a> |
      <a href="{{ url_for('register') }}">Zaregistrovat</a>
    {% endif %}
  </div>
</body>
</html>
